<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments :: headerfiles">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="jumbotron mt-4">
            <h1 class="display-4">Envio con exito</h1>
            <p class="lead">Tu mensaje se ha enviado con exito, ahora puedes cerrar esta ventana
                o regresar a otra vista, continua navegando.</p>
            <hr class="my-4">
            <p>Recuerda."El único modo de hacer un gran trabajo es Amar lo que Haces." Stebe Jobs.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
    </div>
</div>
</body>
</html>