<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="headerfiles">
    <title>Sistema</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" type="img/png" th:href="@{https://www.thymeleaf.org/images/thymeleaf.png}">
    <!--estilos de boostarp-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!--iconos de fontasome-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"></script>
</head>
<body>
    <div th:fragment="nav">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
            <a class="navbar-brand" href="#">Categorias</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}">
                            <i class="fa-solid fa-house"></i> Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{home}">
                            <i class="fa-regular fa-list-radio"></i> Home</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa-regular fa-toolbox"></i> Categoria
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/categoria/lista}">
                                <i class="fa-regular fa-list-radio"></i> Lista</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{/categoria/nuevo}">
                                <i class="fa-regular fa-circle-plus"></i>Nueva Categoria</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa-regular fa-toolbox"></i> Empleados
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <a class="dropdown-item" th:href="@{/usuario/lista}">
                                <i class="fa-regular fa-list-radio"></i> Lista</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{/usuario/nuevo}">
                                <i class="fa-regular fa-circle-plus"></i>Nuevo Empleado</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa-regular fa-toolbox"></i> Productos
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                            <a class="dropdown-item" th:href="@{/producto/lista}">
                                <i class="fa-regular fa-list-radio"></i> Lista</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{/producto/nuevo}">
                                <i class="fa-regular fa-circle-plus"></i>Nuevo Producto</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa-regular fa-toolbox"></i> Clientes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
                            <a class="dropdown-item" th:href="@{/cliente/lista}">
                                <i class="fa-regular fa-list-radio"></i> Lista</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{/cliente/nuevo}">
                                <i class="fa-regular fa-circle-plus"></i>Nuevo Cliente</a>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/venta/mesa}">Mesas</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/venta/mesa}">Ventas Generales</a>
                    </li>

                </ul>
                    <a th:href="@{/login}">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Iniciar Sesión</button>
                    </a>
            </div>
        </nav>
    </div>

    <!--
    <footer th:fragment="footer" class="footer mt-auto py-3 text-center dark bg-dark fixed-bottom">
        <div class="container">
            <span class="text-muted">&copy; Dimadosu.</span>
        </div>
    </footer>-->

    <div th:fragment="scripts">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    </div>
</body>
</html>